# Logs
*.log

# Dependencies
node_modules
yarn.lock
pnpm-lock.json

# OS
.DS_Store

# Cache
*.tsbuildinfo

# Output files
dist
storybook-static

# Database migrations
migrations

# Files to include
!.storybook